---
import Layout from "../../layouts/Layout.astro";
import NgcLogo from "../../components/NgcLogo.astro";
---

<Layout pageTitle="Terms of Reference">
  <h1>Terms of Reference</h1>
  <p>
    The
    <a
      href="https://github.com/next-generation-cartographers/ngc-code-of-conduct/blob/c93c4b538c1127c7eddd17bf96c7863675d70940/code-of-conduct.pdf"
      >latest draft of our code of conduct</a
    >
    is in effect until consensus on a final version is reached.
  </p>
  <p>
    The Next Generation Cartographers initiative (<NgcLogo />) aims to support
    cartographers in the early stages of their career, both in academic and
    professional contexts. The initiative seeks to provide opportunities and a
    safe space for mutual support and exchange, and to raise awareness for the
    needs and demands of next generation cartographers within the field of
    cartography and its established institutions.
  </p>
  <p>
    We consider “next generation cartographers” to include students towards the
    later stages of their education as well as young professionals, early career
    academics, and map enthusiasts; more senior academics and professionals are
    also very welcome if they want to promote the interests of the next
    generation and support them as mentors or advisors.
  </p>

  <details>
    <summary>Details</summary>
    <h3>Goals</h3>
    <ul>
      <li>
        Establish opportunities for the
        <NgcLogo /> community to meet and share knowledge in a peer-to-peer fashion.
      </li>
      <li>
        Support the career development of young professionals in the field and
        promote the needs and demands of the next generation within cartographic
        institutions, both on the local and global level.
      </li>
      <li>
        Raise awareness towards practices of exclusion, discrimination, and
        colonialism that have historically shaped our field and its
        institutions, by promoting critical, feminist, and solidary approaches
        to cartography and its institutional representation, as formulated by a
        global community of young scholars and professionals.
      </li>
      <li>
        Actively reach out to demographics that are underrepresented in our
        field and its institutions, both on the local and global level, to join
        the <NgcLogo /> initiative.
      </li>
    </ul>

    <h3>Values</h3>
    <p>
      The basis of the group's operation are the values of inclusiveness,
      diversity, and openness. <NgcLogo /> is a network and a safe space based on
      mutual trust and respect.
    </p>
    <p>
      A code of conduct shall be developed that promotes these values and also
      allows for a wide range of opinions, views, and approaches to have a voice
      in the conversation.
    </p>
    <p>
      The initiative is seeking to achieve this vision with the following
      activities
    </p>
    <ol>
      <li>
        Serve as a contact point for next generation cartographers by:
        <ol>
          <li>
            maintaining the website, mailing list, and other suitable means of
            communication and knowledge sharing,
          </li>
          <li>
            developing resources about the
            <NgcLogo /> initiative.
          </li>
        </ol>
      </li>
      <li>
        Organize regular <NgcLogo /> online meetings for the exchange of knowledge
        and networking.
      </li>
      <li>
        Organize social events during cartographic conferences to facilitate
        networking among members of the
        <NgcLogo /> community.
      </li>
      <li>
        Encourage members of <NgcLogo /> community to take up leading roles in cartography
        and support their professional career development by:
        <ol>
          <li>
            disseminating information about job and professional development
            opportunities, project funding, etc.,
          </li>
          <li>
            promoting the involvement of members of
            <NgcLogo /> community in decision-making bodies in cartographic organizations
            (such as International Cartographic Association [ICA] and regional cartographic
            societies).
          </li>
        </ol>
      </li>
      <li>
        Facilitate establishing mentor-mentee relationships for members of the <span
          class="inline-logo">NGC</span
        > community between members in more senior positions and emerging professionals.
      </li>
      <li>
        Endorse critical approaches in cartography by co-organising events and
        supporting collaboration to facilitate ideas exchange.
      </li>
      <li>
        Cooperate with the cartographic community by:
        <ol>
          <li>
            promoting the participation of the
            <NgcLogo /> community in scientific events,
          </li>
          <li>participating in ICA Commissions’ work.</li>
          <li>
            engaging in cartographic institutions on the global and regional
            level and lobbying for the interests of the
            <NgcLogo /> community within those (e.g. active outreach to young scholars
            and professionals, lobbying simple and affordable membership for students
            and early-career cartographers etc.)
          </li>
        </ol>
      </li>
      <li>
        Present issues related to
        <NgcLogo /> initiative at cartographic conferences and in journals and other
        media.
      </li>
      <li>
        Creating opportunities for collaborations with related disciplines
        (e.g., computer science, IT, engineering) - extending our network in a
        transdisciplinary manner
      </li>
    </ol>
    <h3>Participation</h3>
    <ul>
      <li>
        Everyone interested in Cartography and considers themselves a
        young/emerging professional or wants to support this community in a
        mentoring role is eligible to participate in the
        <NgcLogo /> community.
      </li>
      <li>Participation is free of charge.</li>
      <li>Any initiative within the community is voluntary (not paid).</li>
    </ul>
  </details>
</Layout>

<style>
  details {
    border: 1px solid var(--muted);
    border-radius: var(--border-radius-sm);
    padding: 0.5em 2em 0;
    margin-top: 2em;
    max-width: var(--width-prose);
  }

  summary {
    font-weight: bold;
    margin: -0.5em -2em 0;
    padding: var(--spacing-xs) var(--spacing);
  }

  details[open] summary {
    border-bottom: 1px solid var(--muted);
    margin-bottom: var(--spacing-xs);
  }
</style>
