@font-face {
  font-family: "Space Grotesk";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/space-grotesk-latin-ext-700-normal.woff2) format("woff2");
  src: url(/fonts/space-grotesk-all-700-normal.woff) format("woff");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/source-sans-pro-latin-ext-400-normal.woff2) format("woff2");
  src: url(/fonts/source-sans-pro-all-400-normal.woff) format("woff");
}

:root {
  --accent: 0, 100, 255;
  --grey: 170, 170, 170;
  --secondary: 0, 255, 157;
  --background: 245, 245, 245;
  --accent-gradient-white: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--secondary)) 30%,
    white 60%
  );
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--secondary)) 60%
  );
  --border-radius-sm: 0.5rem;
  --font-family-body: "Source Sans Pro", system-ui, sans-serif;
  --font-family-headline: "Space Grotesk", system-ui, sans-serif;
}
html {
  font-family: var(--font-family-body);
  background-color: rgb(var(--background));
  line-height: 1.5em;
}
a {
  color: rgb(var(--accent));
}
h1,
h2,
h3,
h4 {
  font-family: var(--font-family-headline), sans-serif;
  font-weight: 700;
  margin-top: 2em;
}
h1 {
  background-image: var(--accent-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.25em;
}
main {
  padding: 4em;
  max-width: 690px;
  margin: auto;
}
ol ol {
  list-style: lower-alpha;
}
p.teaser {
  font-size: larger;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
blockquote {
  border: 1px solid rgb(var(--grey));
  padding: 1em;
  margin-left: 0;
  border-radius: var(--border-radius-sm);
  color: rgb(var(--accent));
}
blockquote p {
  margin-top: 0;
}
.events .past {
  color: rgb(var(--grey));
}
details {
  border: 1px solid rgb(var(--grey));
  border-radius: var(--border-radius-sm);
  padding: 0.5em 2em 0;
  margin-top: 2em;
}
summary {
  font-weight: bold;
  margin: -0.5em -2em 0;
  padding: 0.5em;
}
details[open] {
  padding: 0.5em 2em;
}
details[open] summary {
  border-bottom: 1px solid rgb(var(--grey));
  margin-bottom: 0.5em;
}
ul.link-list {
  padding-left: 0;
}
.link-card {
  margin-bottom: 1em;
  max-width: 400px;
  list-style: none;
  display: flex;
  padding: 2px;
  background-color: #fff;
  background-image: none;
  background-size: 400%;
  border-radius: calc(var(--border-radius-sm) * 1.2);
  background-position: 100%;
  transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  box-shadow: 0 4px 6px -1px rgba(var(--accent), 0.1),
    0 2px 4px -2px rgba(var(--accent), 0.1);
}
.link-card > a {
  width: 100%;
  text-decoration: none;
  line-height: 1.4;
  padding: 1rem 1.3rem;
  border-radius: var(--border-radius-sm);
  color: #111;
  background-color: #fff;
  opacity: 0.8;
}
.link-card h2 {
  margin: 0;
  font-size: 1.25rem;
  transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}
p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  color: #444;
}
.link-card:is(:hover, :focus-within) {
  background-position: 0;
  background-image: var(--accent-gradient-white);
}
.link-card:is(:hover, :focus-within) h2 {
  color: rgb(var(--accent));
}
