:root {
  --primary: 0, 100, 255;
  --secondary: 0, 255, 0;

  --muted: color-mix(in srgb, rgb(var(--primary)), white 60%);
  --background: color-mix(in srgb, rgb(var(--primary)), white 95%);

  --primary-gradient-white: linear-gradient(
    45deg,
    rgb(var(--primary)),
    rgb(var(--secondary)) 30%,
    white 60%
  );
  --primary-gradient: linear-gradient(
    135deg,
    rgb(var(--primary)),
    rgb(var(--secondary)) 60%
  );

  --spacing: 1.5em;
  --spacing-xs: 0.5em;
  --spacing-lg: calc(var(--spacing) * 4);

  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.5rem;

  --font-family-body: "Source Sans 3 Variable", system-ui, sans-serif;
  --font-family-headline: "Space Grotesk Variable", system-ui, sans-serif;

  --width-prose: 65ch;
  --max-width: 690px;

  --shadow-lg:
    0 4px 12px -1px rgba(var(--primary), 0.2),
    0 2px 10px -2px rgba(var(--primary), 0.2),
    0 -3px 14px -4px rgba(var(--secondary), 0.2);
}

html {
  font-family: var(--font-family-body);
  background-color: var(--background);
  scroll-behavior: smooth;
  color: rgb(var(--primary));
}

body {
  margin: 0;
}

* {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a {
  color: color-mix(in srgb, rgb(var(--primary)), black 20%);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-headline), sans-serif;
  font-weight: 700;
  margin-top: 2em;
}

@container (min-width: 600px) {
  h1 {
    margin-top: 0;
  }
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0;
  max-width: var(--width-prose);
  line-height: 1.5em;
}

blockquote {
  font-size: 1.5em;
  font-family: var(--font-family-headline);
  margin-left: 0;
  padding-left: var(--spacing-xs);
  border-left: 1px solid var(--muted);
  * {
    line-height: 1.25em;
  }
}

img {
  height: auto;
  max-width: 100%;
  border-radius: var(--border-radius-xs);
}

sup {
  vertical-align: top;
  position: relative;
  top: -0.33em;
}

main {
  padding-top: 15vmin;
}

li {
  max-width: var(--width-prose);
}

ol ol {
  list-style: lower-alpha;
}

code {
  font-family: var(--font-family-headline), monospace;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.2em;
  border-radius: var(--border-radius-xs);
}

.monospace {
  font-family: var(--font-family-headline), monospace;
}

.text-bold {
  font-weight: bold;
}

.muted {
  color: var(--muted);
}

details {
  border: 1px solid var(--muted);
  border-radius: var(--border-radius-sm);
  padding: 0.5em 2em 0;
  margin-top: 2em;
  max-width: var(--width-prose);
}

summary {
  font-weight: bold;
  margin: -0.5em -2em 0;
  padding: var(--spacing-xs) var(--spacing);
}

details[open] summary {
  border-bottom: 1px solid var(--muted);
  margin-bottom: var(--spacing-xs);
}

ul.link-list {
  padding-left: 0;
  list-style: none;
  li {
    margin-top: var(--spacing);
  }
}

button {
  font-family: var(--font-family-headline);
  font-weight: bold;
  padding: 0.5em;
  border: none;
  border-radius: var(--border-radius-xs);
  cursor: pointer;
  background: none;
  color: inherit;
}

.button-muted {
  border: 1px solid var(--muted);
  color: var(--muted);
}

.pswp {
  --pswp-bg: color-mix(in srgb, rgb(var(--primary)) 15%, black 100%);
}

.pswp__icn-shadow {
  display: none;
}
