---
import { getCollection, render } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import formatDate from "../../../lib/formatDate";

export async function getStaticPaths() {
  const papers = await getCollection("papers");
  return papers.map((paper) => ({
    params: { paper: paper.id.replace("resources/papers/", "") },
    props: { paper },
  }));
}

const { paper } = Astro.props;
const { Content } = await render(paper);
---

<Layout>
  <article>
    <header>
      <h2 id={paper.id}>{paper.data.title}</h2>
      <time
        class="monospace"
        datetime={paper.data.publicationDate.toISOString()}
        >{formatDate(paper.data.publicationDate.toISOString())}</time
      >
    </header>

    <Content />
  </article>

  <style>
    header {
      margin-bottom: var(--spacing-lg);
    }
  </style>
</Layout>
