---
import { Content } from "../../data/online-community-meet-ups.md";
import Layout from "../../layouts/Layout.astro";
import MeetUpList from "../../components/MeetupList.astro";
---

<Layout>
  <h1>Online Community Meet-Ups</h1>
  <Content />

  <h2>Upcoming Meet-ups</h2>

  <MeetUpList filter="upcoming" />

  <h2>Past Meet-ups</h2>
  <MeetUpList filter="past" />
</Layout>
