---
import Layout from "../layouts/Layout.astro";
import Callout from "../components/Callout.astro";
import Memberslist from "../components/Memberslist.astro";
import LinkCard from "../components/LinkCard.astro";
import Disclaimer from "../components/Disclaimer.astro";
import NewsList from "../components/NewsList.astro";
import MeetUpList from "../components/MeetupList.astro";

import { getCollection } from "astro:content";

const news = (await getCollection("news")).toSorted(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout>
  <h1 id="next-generation-cartographers">
    <img
      src="/assets/ngc-marks/ngc-rgb-logotype-4c.svg"
      class="logo"
      alt="Next Generation Cartographers"
    />
    <span style="display: none">Next Generation Cartographers</span>
  </h1>
  <p class="teaser">
    Welcome to Next Generation Cartographers, a group dedicated to advocacy,
    support and mentorship for early career cartographers within academic and
    professional cartography.
  </p>

  <p>
    Our group strives to create a safe and welcoming space for the next
    generation of cartographers to share work, find inspiration, and connect
    with each other worldwide. We're so glad you're here!
  </p>
  <p>
    We consider early career cartographers to include students in the later
    stages of their education and early career academics, professionals, and
    cartography enthusiasts. Not an early career cartographer? More senior
    scholars and cartographic professionals are most welcome in
    <span class="inline-logo">NGC</span> as advocates for and mentors to the next
    generation of cartographers.
  </p>

  <Disclaimer />

  <h2 id="upcoming-events-and-networking-opportunities">
    Upcoming events and networking opportunities
  </h2>
  <div class="events">
    <p>
      The next real-world meeting opportunities for the broader <span
        class="inline-logo">NGC</span
      > community will be at
      <a href="https://icc2025.com/">ICC 2025 in Vancouver, CA</a> (August 16–22,
      2025). More info about our activities <a href="/activities/icc-2025"
        >here</a
      >.
    </p>

    <p>In the meantime we organize frequent online community meet-ups:</p>

    <MeetUpList filter="upcoming" />

    <h2 id="news">News</h2>
    <NewsList newsEntries={news.slice(0, 3)} showSummary={true} />

    <h2 id="contact">Contact us</h2>
    <ul>
      <li>
        Chelsea Nestel <em>(USA)</em>
        <a href="mailto:nestel@wisc.edu">nestel@wisc.edu</a>
      </li>
      <li>
        Katarzyna Słomska-Przech <em>(Poland)</em>
        <a href="mailto:kslomska@ihpan.edu.pl">kslomska@ihpan.edu.pl</a>
      </li>
    </ul>

    <h3 id="join-the-community">Join the community</h3>
    <ul class="link-list">
      {
        [
          {
            url: "https://discord.gg/Ta2uaAJBV2",
            title: "Discord",
            text: "Join the discord channel.",
          },
          {
            url: "https://www.linkedin.com/company/next-generation-cartographers/",
            title: "LinkedIn",
            text: "Follow us on LinkedIn.",
          },
          {
            url: "https://list.tuwien.ac.at/sympa/subscribe/nextgencarto",
            title: "Mailing list",
            text: "Stay in the loop via our mailing list.",
          },
        ].map(({ url, title, text }) => (
          <li>
            <LinkCard url={url} title={title} text={text} />
          </li>
        ))
      }
    </ul>

    <h2 id="members">Members</h2>
    <p>The members are shown in randomized order on every page load.</p>
    <Memberslist />

    <Callout style={{ marginTop: "2em" }}>
      <span class="monospace text-bold">Note</span>
      <p>
        If you want to be added to the this section please contact us or create
        a pull request on our
        <a
          href="https://github.com/next-generation-cartographers/next-generation-cartographers.github.io"
          >github repository</a
        >.
      </p>
    </Callout>
  </div>

  <style>
    p.teaser {
      font-size: larger;
      line-height: 1.5em;
      margin: 1em 0;
    }

    img.logo {
      max-width: 6em;
      min-width: 100px;
      width: 100%;
      margin-bottom: 1em;
    }

    #news,
    #upcoming-events {
      & li {
        margin-top: var(--spacing-xs);
      }
    }

    .events .past {
      color: var(--muted);
    }
  </style>
</Layout>
