---
import { getCollection } from "astro:content";
import NewsList from "../components/NewsList.astro";
import Layout from "../layouts/Layout.astro";

const news = await getCollection("news");
---

<Layout>
  <h2>News</h2>
  <p>
    On this page you can find news articles about <span class="inline-logo"
      >NGC</span
    >. If you want to stay up to date, please subscribe to our
    <a href="/#join-the-community"> LinkedIn or join our Discord </a>.
  </p>

  <NewsList newsEntries={news} showMoreCard={false} />
</Layout>
