---
import Layout from "../layouts/Layout.astro";
import NgcLogo from "../components/NgcLogo.astro";
import LinkCard from "../components/LinkCard.astro";
---

<Layout>
  <h2>Past activities</h2>
  <p>
    On this page you can find past <NgcLogo /> activities.
  </p>
  <ul class="link-list">
    <li>
      <LinkCard
        url="../updates/2024-09-09-eurocarto-2024"
        title="EuroCarto 2024"
        text="In-person activities at the ICA regional conference in Vienna, Austria."
      />
    </li>
    <li>
      <LinkCard
        url="/activities/icc-2025"
        title="ICC 2025"
        text="In-person activities at the ICA international conference 2025 in Vancouver, Canada."
      />
    </li>
  </ul>
</Layout>
