---
import LinkCard from "../../components/LinkCard.astro";
import NgcLogo from "../../components/NgcLogo.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <h1 id="next-generation-cartographers">Branding manual</h1>

  <p>
    We try to keep the branding for
    <NgcLogo /> light to make it easy to use. If you have questions, comments or ideas
    on how we can improve the branding we are happy to hear them. Please reach out
    to us via
    <a href="https://discord.gg/3vbDshHjf3">discord</a>.
  </p>

  <h2>Idea / Concept</h2>
  <svg width="40" height="40">
    <path d="M 5 35 A 20 20 0 1 1 35 35 Z" fill="currentColor"></path>
    <line
      x1="0"
      x2="40"
      transform="translate(0, 39)"
      stroke-width="4"
      stroke="currentColor"></line>
  </svg>
  <p>
    The sunrise symbolizes an optimistic future – each new day entails hope and
    opportunities . As <NgcLogo /> we want to promote this perspective on the future
    on the basis of our cores values: inclusiveness, diversity, and openness.
    <NgcLogo />
    is a network and a safe space based on mutual trust and respect.
  </p>
  <p>
    The branding includes marks, fonts and colors for now and might be adapted
    and extended as the community and its work change.
  </p>

  <h2 id="resources">Download resources</h2>
  <ul class="link-list">
    <li>
      <LinkCard
        title="Marks"
        url="https://github.com/next-generation-cartographers/next-generation-cartographers.github.io/tree/main/public/assets/ngc-marks"
        text="Download the marks in different variants and file formats."
      />
    </li>
    <li>
      <LinkCard
        url="https://github.com/floriankarsten/space-grotesk/releases"
        title="Font: Space Grotesk"
        text="Download the headline font Space Grotesk"
      />
    </li>
    <li>
      <LinkCard
        url="https://github.com/adobe-fonts/source-sans/releases/"
        title="Font: Source Sans"
        text="Download the body copy font Source Sans."
      />
    </li>

    <h2>Marks</h2>
    <p>
      All marks can be downloaded via github (see
      <a href="#resources">resources</a>). There are two types of marks: the
      logomark and the logotype. Both types exist in two color variants: the
      primary color variant and a light and a dark monochrome variant.
    </p>
    <h3>Logotype</h3>
    <div class="marks-grid">
      <div style="display: flex; flex-direction: column">
        <img class="mark" src="/assets/ngc-marks/ngc-rgb-logotype-4c.svg" />
      </div>
    </div>
    <p>
      The Logotype should be used whenever possible. For applications where the
      subline of the logotype is no longer readable the logomark is preferred.
    </p>
    <h3>Logomark</h3>
    <div class="marks-grid">
      <div style="display: flex; flex-direction: column">
        <img
          class="mark small"
          src="/assets/ngc-marks/ngc-rgb-logomark-4c.svg"
        />
      </div>
    </div>

    <h3>Monochrome variants</h3>
    <p>
      Two monochrome version of the marks exist: the dark variant for light
      backgrounds, the light variant for dark backgrounds.
    </p>
    <div class="marks-grid">
      <div>
        <h4>Dark monochrome</h4>
        <div style="display: flex; flex-direction: column; gap: 1em">
          <img
            class="mark"
            src="/assets/ngc-marks/ngc-rgb-logotype-black.svg"
          />
          <img
            class="mark small"
            src="/assets/ngc-marks/ngc-rgb-logomark-black.svg"
          />
        </div>
      </div>
      <div>
        <h4>Light monochrome</h4>
        <div style="display: flex; flex-direction: column; gap: 1em">
          <img
            class="mark"
            src="/assets/ngc-marks/ngc-rgb-logotype-white.svg"
          />
          <img
            class="mark small"
            src="/assets/ngc-marks/ngc-rgb-logomark-white.svg"
          />
        </div>
      </div>
    </div>

    <h2>Typography</h2>
    <p>
      The headline font is <em>Space Grotesk</em> and the body copy font is
      <em>Source Sans</em>. Both fonts can be downloaded (see
      <a href="#resources">resources</a>).
    </p>
    <h3>Headline font</h3>
    <p
      style="
          margin: 1em 0 0;
          font-family: var(--font-family-headline);
          font-size: 36px;
          line-height: 1.25;
        "
    >
      The quick brown fox jumps over the lazy dog.
    </p>
    <p class="muted">Space Grotesk, Bold, 36px</p>
    <h3>Bodycopy font</h3>
    <p
      style="
          margin: 1em 0 0;
          font-family: var(--font-family-body);
          font-size: 36px;
          line-height: 1.25;
        "
    >
      The quick brown fox jumps over the lazy dog.
    </p>
    <p class="muted">Source Sans, Regular, 36px</p>
  </ul>
</Layout>

<style>
  .marks-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    container-type: inline-size;
  }

  img.mark {
    padding: 1em;
    border: 1px solid var(--muted);
    border-radius: var(--border-radius-sm);
    transition: all 0.3s;
    &.small {
      max-width: 200px;
    }
    &:hover {
      background-color: var(--muted), 0.1;
    }
  }

  @container (min-width: 600px) {
    img.mark {
      padding: 4em;
    }
  }
</style>
