---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Time from "../../components/Time.astro";
import { getEntries } from "astro:content";
import Link from "../../components/Link.astro";
import MapTutorialsCta from "../../components/MapTutorialsCta.astro";

const tutorials = (await getCollection("tutorials")).toSorted(
  (a, b) =>
    new Date(b.data.publicationDate).getTime() -
    new Date(a.data.publicationDate).getTime(),
);
---

<Layout>
  <h2>Map Tutorials</h2>
  <p>
    On this page you can find tutorials published by <span class="inline-logo"
      >NGC</span
    >'s network of map makers.
  </p>
  <MapTutorialsCta />
  <p>
    Whether you're a beginner looking to create your first map or an experienced
    cartographer seeking new techniques--with the NGC map tutorials we hope to
    cover a wide range of topics and skill levels. The project just got started
    -- help making it even cooler and let's learn from another!
  </p>
  <ul class="feature">
    {
      tutorials.map(async (d) => {
        const authors = await getEntries(d.data.authors);
        return (
          <a href={`/resources/map-tutorials/${d.id}`}>
            <li>
              <Card>
                <div class="card-content">
                  <div class="tutorial-info">
                    <h3>{d.data.title}</h3>
                    <div>
                      <Time
                        datetime={d.data.publicationDate.toISOString()}
                        format="date"
                      />{" "}
                      ·{" "}
                      <span>{authors.map((a) => a.data.name).join(", ")}</span>
                    </div>
                    <Link href={`/resources/map-tutorials/${d.id}`}>
                      Read more
                    </Link>
                  </div>
                </div>
              </Card>
            </li>
          </a>
        );
      })
    }
  </ul>
</Layout>

<style>
  ul {
    display: grid;
    list-style-type: none;
    padding-left: 0;
    gap: var(--spacing-xs);
  }
  li {
    max-width: unset;

    a {
      text-decoration: none;
    }
  }
  .card-content {
    .tutorial-info {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: var(--spacing-xs);

      h3 {
        font-size: x-large;
      }
    }
  }
  h3 {
    margin: 0;
  }
</style>
