<div>
  <slot />
</div>

<style>
  div {
    max-width: var(--width-prose);
    border: 1px solid rgb(var(--accent));
    padding: 1em;
    margin: 2em 0;
    border-radius: var(--border-radius-sm);
    color: rgb(var(--accent));

    p {
      margin-top: 0;
    }
  }
</style>
