<div class="disclaimer">
  <a href="https://icaci.org" target="_blank">
    <img src="/assets/ica_logo.svg" />
  </a>
  <p>
    This website is maintained by the Working Group
    <em>Next Generation Cartographers</em> of the
    <a href="https://icaci.org" target="_blank"
      >International Cartographic Association (ICA)</a
    >.
  </p>
</div>

<style>
  .disclaimer {
    margin: 2em 0;
    display: flex;
    align-items: center;
    gap: 2em;
    font-size: 0.85em;
    p {
      margin-top: 0;
      max-width: 45ch;
    }
    img {
      max-width: 100px;
    }
  }
</style>
