---
import Card from "./Card.astro";

interface Props {
  url: string;
  title: string;
  text: string;
}
const { url, title, text } = Astro.props;
---

<Card isInteractive>
  <a href={url}>
    <h2>
      {title}
      <span style="font-family: var(--font-family-body)">&rarr;</span>
    </h2>
    <p>{text}</p>
  </a>
</Card>

<style>
  a {
    width: 100%;
    text-decoration: none;
    line-height: 1.4;
    border-radius: var(--border-radius-sm);
    background-color: #fff;
  }
  & h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
</style>
