---
import { Content } from "../data/members.md";
---

<div class="shuffle">
  <Content />
</div>

<!-- TODO: find out how to style Content without using is:global -->
<style is:global>
  @media screen and (min-width: 680px) {
    .shuffle ul {
      columns: 2;
      gap: 4em;
    }
  }
</style>

<script>
  // Fisher-Yates shuffle
  function shuffle(arr: HTMLElement[]) {
    let currentIndex = arr.length;
    let randomIndex;
    while (currentIndex != 0) {
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex--;
      [arr[currentIndex], arr[randomIndex]] = [
        arr[randomIndex],
        arr[currentIndex],
      ];
    }
    return arr;
  }

  // shuffle li's in "shuffle" wrapper
  for (let wrapper of document.querySelectorAll(".shuffle")) {
    let lis = shuffle(Array.from(wrapper.querySelectorAll("li")));
    for (let li of lis) {
      li.parentElement?.appendChild(li);
    }
  }
</script>
