---
import { frontmatter, Content } from "../data/members.md";
import Callout from "./Callout.astro";

const members = frontmatter.members as {
  name: string;
  website?: string;
  affiliation?: string;
  country?: string;
}[];
---

<div class="shuffle">
  <Content />
  <Callout style={{ margin: "2em 0 3em" }}>
    <span class="monospace text-bold">Note</span>
    <p>
      If you want to be added to the this section please contact us or create a
      pull request on our
      <a
        href="https://github.com/next-generation-cartographers/next-generation-cartographers.github.io"
        >github repository</a
      >.
    </p>
  </Callout>
  <ul class="shuffle">
    {
      members.map((member) => {
        const { name, website, affiliation, country } = member;
        const info = `${affiliation ? affiliation + ",\u00A0" : ""}${country ? country : ""}`;
        return (
          <li>
            {website ? <a href={website}>{name}</a> : name}{" "}
            {info ? <em>({info})</em> : null}
          </li>
        );
      })
    }
  </ul>
</div>

<!-- TODO: find out how to style Content without using is:global -->
<style is:global>
  @media screen and (min-width: 680px) {
    .shuffle ul {
      columns: 2;
      gap: 4em;
    }
  }
</style>

<script>
  // Fisher-Yates shuffle
  function shuffle(arr: HTMLElement[]) {
    let currentIndex = arr.length;
    let randomIndex;
    while (currentIndex != 0) {
      randomIndex = Math.floor(Math.random() * currentIndex);
      currentIndex--;
      [arr[currentIndex], arr[randomIndex]] = [
        arr[randomIndex],
        arr[currentIndex],
      ];
    }
    return arr;
  }

  // shuffle li's in "shuffle" wrapper
  for (let wrapper of document.querySelectorAll(".shuffle")) {
    let lis = shuffle(Array.from(wrapper.querySelectorAll("li")));
    for (let li of lis) {
      li.parentElement?.appendChild(li);
    }
  }
</script>
