<span>NGC</span>

<style>
  span {
    font-family: var(--font-family-headline);
    font-weight: 900;
    font-size: 1.5em;
    font-stretch: 105%;
    line-height: 1em;
    vertical-align: baseline;
    display: inline-block;
    overflow: hidden;
    transform: translateY(0.3em);
    margin: -0.25em 0.05em 0;
    clip-path: inset(0 0 30% 0);
    background: linear-gradient(
      160deg,
      rgb(var(--primary)) 50%,
      rgb(var(--secondary)) 80%
    );
    background-clip: text;
    color: transparent;
  }
</style>
