<span>NGC</span>

<style>
  span {
    font-family: var(--font-family-headline);
    font-weight: 900;
    font-size: 1.39em;
    line-height: 0.85em;
    display: inline-block;
    overflow: hidden;
    transform: translateY(0.3em); /* use transform instead of top */
    margin: 0 0.05em;
    clip-path: inset(0 0 35.7% 0);
    background: linear-gradient(
      160deg,
      rgb(var(--primary)) 50%,
      rgb(var(--secondary)) 80%
    );
    background-clip: text;
    color: transparent;
  }
</style>
