<span class="inline-logo">NGC</span>

<style is:global>
  .inline-logo {
    font-family: var(--font-family-headline);
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    top: 0.12em;
    clip-path: inset(0 0 33% 0);
  }
</style>
