---
import type { MarkdownHeading } from "astro";

type Props = {
  headings: MarkdownHeading[];
};

const { headings } = Astro.props;
---

<aside class="aside-left">
  <header>Table of Contents</header>
  <ul>
    {
      headings.map((d) => (
        <li>
          <a href={`#${d.slug}`}>{d.text}</a>
        </li>
      ))
    }
  </ul>
</aside>

<style>
  aside {
    position: sticky;
    top: var(--spacing-lg);
    padding-left: var(--spacing-lg);
  }
  a {
    scroll-behavior: smooth;
  }

  ul {
    padding-left: 0;
    list-style-type: none;
  }
</style>
