---
import "@fontsource-variable/source-sans-3/wght-italic.css";
import "@fontsource-variable/source-sans-3/wght.css";
import "@fontsource-variable/space-grotesk";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

interface Props {
  metaTitle?: string;
  metaDescription?: string;
}

const { metaTitle, metaDescription } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {`${metaTitle ? `${metaTitle} · ` : ""}Next Generation Cartographers`}
    </title>
    <meta name="description" content={metaDescription} />
  </head>
  <body>
    <Navigation />
    <main>
      <article>
        <slot name="site-header" />
        <div class="content">
          <slot name="aside-right" />
          <slot name="aside-left" />
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  .content {
    --gap: clamp(1rem, 6vw, 3rem);

    --full: minmax(var(--gap), 1fr);
    --popout: minmax(0, 2rem);
    --feature: minmax(0, 5rem);
    --content: min(var(--max-width), 100% - var(--gap) * 2);

    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end]
      var(--feature) [feature-end]
      var(--full) [full-end];

    > * {
      grid-column: content-start / content-end;
    }

    h1 {
      font-size: 2em;
    }
  }

  .popout {
    grid-column: popout-start / popout-end;
  }

  .feature {
    grid-column: feature-start / feature-end;
  }

  .full {
    grid-column: full-start / full-end;
  }

  .aside-left {
    grid-column: full-start / content-start;
  }

  .aside-right {
    grid-column: content-end / full-end;
  }
</style>
