---
import "@fontsource/space-grotesk/700.css"
import "@fontsource/source-sans-pro/"

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
    <script>
// shuffle li's in "shuffle" wrapper

// Fisher-Yates shuffle
function shuffle(arr) {
  let currentIndex = arr.length;
  let randomIndex;
  while (currentIndex != 0) {
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;
    [arr[currentIndex], arr[randomIndex]] = [arr[randomIndex], arr[currentIndex]];
  }
  return arr;
}

for (let wrapper of document.querySelectorAll(".shuffle")) {
  let lis = shuffle(Array.from(wrapper.querySelectorAll("li")));
  for (let li of lis) {
    li.parentElement.appendChild(li);
  }
}

let DAYS_PAST = 7;
let TIME_PAST = DAYS_PAST*24*60*60*1000;

for (let event of document.querySelectorAll(".events li")) {
  // find everything that looks like a date
  let dates = event.textContent.match(/\d\d?\.\s?\d\d?\.\s?\d\d\d\d\W/g);
  if (dates) {
    dates = dates.map(d => d.split(".").map(s => s.trim()))
                          .map(d => new Date(d[2]+"-"+d[1]+"-"+d[0]))
                          .sort((a,b) => b-a); // latest date first
    if ((dates[0].getTime() + TIME_PAST) < Date.now()) {
      event.classList.add("past");
    }
  }
}
    </script>
	</body>
</html>
<style is:global>
	:root {
		--accent: 0, 100, 255;
		--accent-gradient-white: linear-gradient(45deg, rgb(var(--accent)), #00ff9d 30%, white 60%);
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #00ff9d 60%);
		--border-radius-sm: 0.5rem;
		--font-family-body: "Source Sans Pro", system-ui, sans-serif;
	}
	html {
		font-family: var(--font-family-body);
		background-color: #F6F6F6;
		line-height: 1.5em;
	}
	a {
		color: rgb(var(--accent));
	}
	h1,h2,h3,h4 {
		font-family: "Space Grotesk", sans-serif;
		font-weight: 700;
		margin-top: 2em;
	}
	h1 {
		background-image: var(--accent-gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: 1.25em;
	}
	main {
		padding: 4em;
		max-width: 690px;
		margin: auto
	}
	blockquote {
		border: 1px solid lightgrey;
		padding-left: 1em;
		margin-left: 0;
		border-radius: var(--border-radius-sm);
		color: rgb(var(--accent));
	}
  .events .past {
    color: #cccccc;
  }
</style>
