---
import "@fontsource/space-grotesk/700.css"
import "@fontsource/source-sans-pro/"

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 0, 100, 255;
		--accent-gradient-white: linear-gradient(45deg, rgb(var(--accent)), #00ff9d 30%, white 60%);
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #00ff9d 60%);
		--border-radius-sm: 0.5rem;
		--font-family-body: "Source Sans Pro", system-ui, sans-serif;
	}
	html {
		font-family: var(--font-family-body);
		background-color: #F6F6F6;
		line-height: 1.5em;
	}
	a {
		color: rgb(var(--accent));
	}
	h1,h2,h3,h4 {
		font-family: "Space Grotesk", sans-serif;
		font-weight: 700;
		margin-top: 2em;
	}
	h1 {
		background-image: var(--accent-gradient);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: 1.25em;
	}
	main {
		padding: 4em;
		max-width: 690px;
		margin: auto
	}
	blockquote {
		border: 1px solid lightgrey;
		padding-left: 1em;
		margin-left: 0;
		border-radius: var(--border-radius-sm);
		color: rgb(var(--accent));
	}
</style>
