---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import { getCollection, render } from "astro:content";
import { getEventDuration } from "../../../lib/getEventDuration";

export async function getStaticPaths() {
  const events = await getCollection("events");
  return events.map((event) => ({
    params: { event: event.id.replace("icc-2025/", "") },
    props: { event },
  }));
}

const { event } = Astro.props;
const { Content } = await render(event);
---

<Layout>
  <Card
    decoration={`"${event.data.type.at(0)}"`}
    style={{ marginBottom: "var(--spacing-lg)" }}
  >
    <div>
      <h2 id={event.id}>{event.data.title}</h2>
      <div>
        <span class="monospace">Datetime</span>
        <strong>
          {
            event.data.dateTime ? getEventDuration(event.data.dateTime) : "tba"
          }</strong
        >
      </div>
      <div>
        <span class="monospace">Type</span>
        <strong>{event.data.type}</strong>
      </div>
    </div>
  </Card>

  <Content />
</Layout>
